*{
    font-family: roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --marginGeneral : 10px;
}
body{
    padding: 15px;
}

.profileContainer{
    display: flex;
    border: 2px solid red;
}

.profileContainer > .avatar {
    width: 85px;
    height: 85px;
    background-color: black;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid red;

}

.avatar > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profileContainer > .stats {
    display: flex;
    margin: auto;
    border: 2px solid red;
}

.stats > .info {
    text-align: center;
    font-size: 1rem;
    margin: 10px;
    border: 2px solid red;
}

.info > .number {
    font-weight: 600;
}

.info > .text {
    font-size: 0.8rem;
}

.descriptionContainer {
    border: 2px solid red;
    padding-right: 40%;
    margin-top: var(--marginGeneral);
}

.descriptionContainer > .name {
    font-size: 1rem;
}

.descriptionContainer > .nickname {
    font-size: 0.9rem;
    color: #535353;
}

.descriptionContainer > .bio {
    font-size: 0.9rem;
}