*{
    font-family: roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --marginGeneral : 10px;
}


.mainContainer {
    margin: 15px;
    margin-bottom: 0;
}

.profileContainer {
    display: flex;
}

.profileContainer > .avatar {
    width: 85px;
    height: 85px;
    background-color: black;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid rgb(183, 183, 183);

}

.avatar > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profileContainer > .stats {
    display: flex;
    margin: auto;
}

.stats > .info {
    text-align: center;
    font-size: 1rem;
    margin: 10px;
}

.info > .number {
    font-weight: 600;
}

.info > .text {
    font-size: 0.8rem;
}

.descriptionContainer {
    padding-right: 40%;
    margin-top: var(--marginGeneral);
}

.descriptionContainer > .name {
    font-size: 1rem;
}

.descriptionContainer > .nickname {
    font-size: 0.9rem;
    color: #535353;
}

.descriptionContainer > .bio {
    font-size: 0.9rem;
}

.socialMediaContainer {
    display: flex;
}

.socialMediaContainer > .buttonContainer {
    min-height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #efefef;
    border: none;
    padding: 5px;
    border-radius: 7px;
    margin: 0px 5px;
    margin-top: var(--marginGeneral);
    align-items: center;
    box-shadow: 0 4px 5px -2px rgb(159, 159, 159);
}

.buttonContainer > img {
    width: 20px;
}

.buttonContainer > a {
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 600;
    color: #535353;
    margin-left: 5px
}

.separationSection {
    margin-top: var(--marginGeneral);
}